In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os       
df_33 = pd.read_csv("data_33.csv", header=None)
##print (df.head()) # Visualización de las primeras 4 filas junto con el header 
# print (df.head(40))
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
df_33

                     0            1            2            3            4
0                  NaN    CMP_SPEED        POWER    FUEL_FLOW          CO2
1     01/01/2021 00:00  5589.869257  4900.793536  0.451668517  1.229984784
2     01/01/2021 01:00  5586.765793  4879.848427  0.450786106  1.227581801
3     01/01/2021 02:00  5599.140667  4902.774026   0.45168623  1.230033021
4     01/01/2021 03:00  5601.607464  4902.992111  0.451230477  1.228791915
...                ...          ...          ...          ...          ...
8757  31/12/2021 20:00            0          NaN          NaN          NaN
8758  31/12/2021 21:00            0          NaN          NaN          NaN
8759  31/12/2021 22:00            0          NaN          NaN          NaN
8760  31/12/2021 23:00            0          NaN          NaN          NaN
8761  01/01/2022 00:00            0          NaN          NaN          NaN

[8762 rows x 5 columns]

In [3]:
df_33.dtypes

0    object
1    object
2    object
3    object
4    object
dtype: object

si esta en 0 el cmp no se debe de sumar las horas de funcionamiento

In [5]:
df_engine=pd.read_csv("engine_metadata.csv")
df_engine

    CUSTOMER_NAME         PLANT_NAME ENGINE_ID       FILE_ID
0          SPIFFY  SPIRITUAL-POLECAT  ENGINE_1    data_1.csv
1          SPIFFY  SPIRITUAL-POLECAT  ENGINE_2    data_2.csv
2          SPIFFY  SPIRITUAL-POLECAT  ENGINE_3    data_3.csv
3      NONCHALANT         NIFTY-ROOK  ENGINE_1    data_4.csv
4      NONCHALANT         NIFTY-ROOK  ENGINE_2    data_5.csv
..            ...                ...       ...           ...
207     SCEPTICAL    GIGANTIC-EARWIG  ENGINE_2  data_209.csv
208      MERCIFUL       PREMIUM-MOTH  ENGINE_1  data_210.csv
209      MERCIFUL       PREMIUM-MOTH  ENGINE_2  data_211.csv
210      MERCIFUL       PREMIUM-MOTH  ENGINE_3  data_212.csv
211      MERCIFUL       PREMIUM-MOTH  ENGINE_4  data_213.csv

[212 rows x 4 columns]

In [6]:
df_sample=pd.read_csv("sample_submission.csv")
df_sample

        ID  HOURS
0        0      0
1        1      1
2        2      2
3        3      3
4        4      4
...    ...    ...
8756  8756   6624
8757  8757   6625
8758  8758   6626
8759  8759   6627
8760  8760   6628

[8761 rows x 2 columns]

In [7]:
df_site=pd.read_csv("site_metadata.csv")
df_site

,CUSTOMER_NAME,PLANT_NAME,LATITUDE,LONGITUDE,ELEVATION,FUEL_LHV
0,SPIFFY,SPIRITUAL-POLECAT,61.170356,42.874767,112.000000,47331.28920
1,NONCHALANT,NIFTY-ROOK,37.554516,49.908217,-29.000000,47358.23582
2,NONCHALANT,PREHISTORIC-PETREL,29.190866,60.491702,1552.426025,47287.76508
3,NONCHALANT,THERAPEUTIC-LIONFISH,13.253365,76.411056,867.591553,47267.55435
4,SOFT,ABORIGINAL-PICULET,-68.632002,66.155301,1253.152832,47307.51836
5,SOFT,CARMINE-REINDEER,-37.997369,178.144855,518.872375,47257.94210
6,SOFT,IDEALISTIC-DODO,-31.151031,146.869226,200.000000,47350.34675
7,BUSY,ANCIENT-WASP,-67.132885,140.038237,1049.166504,47360.71466
8,BUSY,AQUAMARINE-KANGAROO,-0.210084,-76.834778,283.042694,47361.57420
9,BUSY,RADIANT-STURGEON,61.773108,140.743140,1067.957153,47357.01348
10,BUSY,CURIOUS-QUAIL,5.142945,45.315171,355.958344,47299.25267
11,BUSY,SILKY-WEASEL,10.742003,105.652455,2.824768,47266.04522
12,BUSY,INDIGO-TAPIR,-12.144846,16.504710,1639.537842,47354.46676
13,FERVENT,PERFECT-MACKEREL,-23.067557,130.962138,567.625122,47262.53546
14,FERVENT,ADORABLE-PANTHER,52.399654,131.116088,293.472839,47313.44479
15,FERVENT,CAREFUL-PHEASANT,-31.224959,124.149922,191.785507,47364.50367
16,GLEAMING,PRECISE-POGONA,1.771092,42.939385,130.987930,47362.91288
17,GLEAMING,FIERY-BOBCAT,53.088782,13.186017,70.102501,47255.70004
18,GLEAMING,BIPEDAL-UAKARI,61.679843,33.312446,103.436699,47302.71201
19,GLEAMING,LUSH-CHIPMUNK,-2.893581,-63.054638,59.113102,47360.71439
20,GLEAMING,HYPERSONIC-BULLDOG,51.346839,20.095592,196.508835,47297.69903
21,IDEALISTIC,TUSCAN-CAPUCHIN,60.068734,-101.875917,366.770569,47255.62913
22,IDEALISTIC,MUSTARD-PANDA,58.091531,-71.739375,290.000000,47326.67724
23,IDEALISTIC,NIFTY-MULE,29.133241,116.987637,22.118996,47257.22808
24,DELIGHTFUL,TOURMALINE-MOUSE,-7.716991,143.356848,14.458365,47260.82024
25,DELIGHTFUL,ANNOYING-SPONGE,48.045077,-0.000259,95.556656,47336.46793
26,DELIGHTFUL,ROSE-KINGFISHER,55.170019,-122.750114,881.143372,47305.19653
27,DELIGHTFUL,BEAUTIFUL-HIPPO,-33.296298,24.449636,710.739197,47361.15319
28,TOUGH,VORACIOUS-PARROT,21.650943,41.110107,1126.968628,47363.27121
29,TANGIBLE,STOIC-KOEL,61.912226,51.872830,121.214729,47280.85448
30,TANGIBLE,COBALT-CATFISH,44.806469,-112.395503,2471.784424,47360.92510
31,DRAMATIC,CERULEAN-NAUTILUS,-36.845283,-66.069731,284.817139,47273.05955
32,DRAMATIC,PRAGMATIC-MASTIFF,-30.204917,121.719996,402.367126,47328.63473
33,DRAMATIC,RAPID-CARACARA,23.469345,35.457801,102.681961,47307.14667
34,DRAMATIC,COBALT-MALKOHA,57.577211,43.578863,90.109474,47316.28953
35,KIND,SAGE-PRAWN,30.771946,109.006318,476.751953,47285.70785
36,JUDICIOUS,ANGELIC-REINDEER,61.875762,28.365978,100.890335,47366.76465
37,JUDICIOUS,INESCAPABLE-QUOKKA,-5.825078,-79.540927,1634.865112,47342.64089
38,JUDICIOUS,DIDACTIC-HORNET,47.886822,92.728220,1572.391724,47333.92947
39,JUDICIOUS,SINGING-HONEYBEE,44.510342,67.692157,218.366730,47299.45316
40,JUDICIOUS,LOUD-OCELOT,60.114691,-124.258997,456.000000,47307.83529
41,JUDICIOUS,LOUTISH-PANDA,24.641433,44.551614,877.684326,47322.06760
42,SCEPTICAL,ZIRCON-CAMEL,-19.987461,-66.458678,4067.592529,47314.82243
43,SCEPTICAL,GIGANTIC-EARWIG,41.631139,55.981426,168.878861,47289.03400
44,MERCIFUL,PREMIUM-MOTH,-26.175581,16.115096,1014.342346,47343.12242

Fuel_LHV es valor de calentamiento del combustible expresado en BTU/lb

In [8]:
df_site.dtypes

CUSTOMER_NAME     object
PLANT_NAME        object
LATITUDE         float64
LONGITUDE        float64
ELEVATION        float64
FUEL_LHV         float64
dtype: object